/* ============================================
   HOME PAGE SPECIFIC STYLES
   ============================================ */

/* Animated Blobs */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.blob-shape {
    position: absolute;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(3rem);
    mix-blend-mode: multiply;
    z-index: 0;
}

.blob-blue {
    background-color: #bfdbfe;
}

[data-bs-theme="dark"] .blob-blue {
    background-color: #1e3a8a;
}

.blob-purple {
    background-color: #e9d5ff;
}

[data-bs-theme="dark"] .blob-purple {
    background-color: #581c87;
}